@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.container {
  text-align: center;
  margin-left: -17%;
  /* Abstand zur linken Seite anpassen */
  max-width: 30%;
  /* Maximale Breite des Containers */
  min-width: 30%;
  /* Maximale Breite des Containers */
  scale: 0.7;

}

.title {
  font-family: 'Work Sans', sans-serif !important;
  color: rgb(5, 255, 209);
  font-size: 1.8vh;
  font-weight: bold;
  margin-bottom: 1vh;
  position: relative;
  display: inline-block;
  margin-left: -4%;
}

.separator {
  content: "";
  height: 5px;
  width: 60%;
  display: block;
  left: 0;
  right: 0;
  border-radius: 50%;
  align-content: center;
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.014443277310924318) 0%, rgba(140, 140, 140, 1) 33%, rgba(181, 181, 181, 1) 66%, rgba(255, 255, 255, 0) 100%);
  bottom: 0;
  margin-left: 18%;
}

.separator2 {
  content: "";
  height: 5px;
  width: 30%;
  display: block;
  left: 0;
  right: 0;
  align-content: center;
  background: rgb(5, 255, 209);
  box-shadow: 0px 5px 30px #02d1ff, 0px -5px 30px #02d1ff;
  margin-left: 33%;
  margin-top: -0.9%;
}


.content {
  font-family: 'Roboto', sans-serif !important;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 5%;
  margin-left: 20%;
  border-radius: 0.5vh;
  border: 1px solid rgba(255, 251, 251, 0.486);
  background-color: rgba(109, 109, 109, 0.253);
  max-width: 47%;
  /* Maximale Breite des Containers */
  min-width: 20%;
  /* Maximale Breite des Containers */
  font-size: 1.6vh;
  overflow-wrap: break-word;
  padding: 5%;
  color: white;
}